<!DOCTYPE html>

<!--
SPDX-FileCopyrightText: 2021 codedust

SPDX-License-Identifier: EUPL-1.2
-->

<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>LeiKa-Tool</title>
  <link rel="stylesheet" href="bulma.min.css">
  <link rel="stylesheet" href="leika.css">
  <link rel="shortcut icon" type="image/png" href="logo-leika-tool.png">
</head>
<body>
  <section class="section">
    <div class="container">
      <h1 class="title">LeiKa-Suche</h1>
      <p class="subtitle">
        Im <strong>LeiKa</strong> suchen...
      </p>
      <input id="search-input" class="input is-primary" type="text" placeholder="Nach LeiKa-Schlüssel oder Bezeichnung suchen..." autofocus>
      <p class="has-text-weight-light">Ergebnisse: <span id="numResults">-</span></p>
    </div>
  </section>
  <section class="section results"></section>
  <section class="section load-more has-text-centered">
    <a href="#" id="a-load-more"></a>
  </section>
  <section class="footer has-background-dark has-text-white">
    Dieses Projekt ist lizenziert unter <a href="https://github.com/codedust/leika-tool/blob/main/LICENSE.txt">EUPL 1.2</a>. Der Quellcode kann <a href="https://github.com/codedust/leika-tool/">hier</a> abgerufen werden.
    <a class="is-pulled-right" href="https://okfn.de/impressum/">Impressum</a>
  </section>
  <script id="template-leistung" type="x-tmpl-mustache">
    {{#.}}
    <div class="container leistung">
      <p><strong>{{ Bezeichnung }}</strong> ({{ Schluessel }})</p>
      <span class="tag is-light">{{#Typ}}Typ {{ Typ }}{{/Typ}}{{^Typ}}kein Leistungstyp angegeben{{/Typ}}</span>
      <span class="tag is-light">Leistungsgruppierung:&nbsp;<i>{{ Leistungsgruppierung }}</i></span>
      <span class="tag is-light">Veröffentlichungsdatum:&nbsp;<i>{{ Veröffentlichungsdatum }}</i></span>
      <table class="leistungs-attributes is-hidden">
        <tr><td>Bezeichnung2</td><td>{{Bezeichnung2}}</td></tr>
        <tr><td>Typ</td><td>{{#Typ}}{{ Typ }} ({{ typeExplanation }}){{/Typ}}{{^Typ}}{{/Typ}}</td></tr>
        <tr><td>eindeutige URN der Leistung</td><td><a class="leika-urn" href="#urn:de:fim:leika:leistung:{{Schluessel}}">urn:de:fim:leika:leistung:{{Schluessel}}</a></td></tr>
        <tr><td>Leistungskennung</td><td>{{Leistungskennung}}</td></tr>
        <tr><td>Verrichtung</td><td>{{Verrichtung}}</td></tr>
        <tr><td>Verrichtungsdetail</td><td>{{Verrichtungsdetail}}</td></tr>
        <tr><td>Besondere Merkmale</td><td>{{{BesondereMerkmaleAsTags}}}</td></tr>
        <tr><td>Synonyme</td><td>{{{SynonymeAsTags}}}</td></tr>
        <tr><td>Links</td><td><a href="https://fimportal.de/detail/L/{{Schluessel}}">Leistung im FIM-Portal</a></td></tr>
      </table>
    </div>
    {{/.}}
  </script>
  <script id="template-tag" type="x-tmpl-mustache">
    {{#.}}<span class="tag is-light">{{.}}</span>{{/.}}
  </script>
  <script type="text/javascript" src="papaparse.js"></script>
  <script src="mustache.js"></script>
  <script type="text/javascript" src="leika.js"></script>
  <script defer data-api="/api/event" data-domain="opengovtech.de" src="/js/script.js"></script><!-- Plausible analytics -->
</body>
</html>
